body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Ubuntu', 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  font-size: 3rem !important;
}

p {
  font-size: 1.1em;
  font-weight: 300;
}

.bg-primary {
  background-color: #03233e !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-light {
  background-color: #fff !important;
}

.tagline {
  font-family: courier;
  overflow: hidden;
  font-size: 1.7rem;
  font-weight: 300;
}

.blinking_dot {
  animation: blink 1.5s infinite;
}

@keyframes typed {
  from {
    width: 0;
  }
}

@keyframes typed2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #03233e;
}

hr.light {
  border-color: #fff;
}

a {
  color: #03233e;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #03233e;
}

a.light {
  color: #06b7aa;
}

.icon-color {
  color: #0d96c4 !important;
}

.top-empty {
  padding: 1.8rem 0;
}

section {
  padding: 5rem 0;
}

.section-heading {
  margin-top: 0;
}

.desc-text {
  font-size: 1.25em;
  font-weight: 300;
}

.text-important {
  font-weight: 300;
  font-size: 1.25rem;
}

.text-faded {
  color: rgba(255, 255, 255, 0.8);
}

.team-profile-box {
  padding: 1.2em;
  background-color: #0d96c4;
  border-radius: 5px;
  height: 100%;
}

.team-profile-box-new {
  padding: 1.2em;
  border-radius: 5px;
  height: 100%;
}

.team-profile-img {
  width: 60%;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.image-box {
  max-width: 100%;
  margin: 0 auto;
}

.card-box {
  display: block;
  height: 225px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
}

.fa-1_25x {
  font-size: 1.25em;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  color: #03233e;
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #03233e;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #03233e;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #03233e !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(3, 35, 62, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #03233e;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(3, 35, 62, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #03233e;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #03233e;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #03233e;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #03233e;
  }
}

#otherNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#otherNav .navbar-brand {
  font-weight: 700;
  color: #03233e;
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#otherNav .navbar-brand:focus, #otherNav .navbar-brand:hover {
  color: #03233e;
}

#otherNav .navbar-nav > li.nav-item > a.nav-link,
#otherNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#otherNav .navbar-nav > li.nav-item > a.nav-link:hover,
#otherNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #03233e;
}

#otherNav .navbar-nav > li.nav-item > a.nav-link.active,
#otherNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #03233e !important;
  background-color: transparent;
}

#otherNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#otherNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #otherNav .navbar-brand {
    color: rgba(3, 35, 62, 0.7);
  }
  #otherNav .navbar-brand:focus, #otherNav .navbar-brand:hover {
    color: #03233e;
  }
  #otherNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #otherNav .navbar-nav > li.nav-item > a.nav-link,
  #otherNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(3, 35, 62, 0.7);
  }
  #otherNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #otherNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #03233e;
  }
  #otherNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #otherNav.navbar-shrink .navbar-brand {
    color: #03233e;
  }
  #otherNav.navbar-shrink .navbar-brand:focus, #otherNav.navbar-shrink .navbar-brand:hover {
    color: #03233e;
  }
  #otherNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #otherNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #otherNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #otherNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #03233e;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header2.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  header.masthead p {
    font-weight: 400;
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
  header.masthead p {
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 95%;
  max-height: 225px;
  overflow-y: hidden;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(3, 35, 62, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #03233e !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #03233e;
  border-color: #03233e;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #021526 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
