body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #a4243b;
}

hr.light {
  border-color: #fff;
}

a {
  color: #a4243b;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #a4243b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #a4243b !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 4rem 0;
}

@media (min-width: 576px) {
  section {
    padding: 8rem 0;
  }
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.overlay {
  width: 100%;
  height: auto;
  padding-top: 120px;
}

.overlay h1 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  .overlay {
    padding: 120px 0 180px 0;
  }
}

@media (min-width: 576px) {
  .overlay {
    padding: 120px 0 90px 0;
  }
}

.overlay_yellow {
  background: rgba(171, 105, 18, 0.3);
}

.overlay_dark {
  background: rgba(122, 135, 163, 0.3);
}

.introduction {
  padding: 3rem 1rem;
  color: #212529;
  background-color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 992px) {
  .introduction {
    padding: 4rem;
  }
}

.introduction p {
  margin-bottom: 1rem;
}

.introduction .btn {
  margin-top: 2rem;
}

#contact img {
  margin: 0 auto;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #a4243b;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #a4243b;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #a4243b !important;
  background-color: transparent;
  border-bottom: 2px solid #a4243b;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item.nav-item-social {
  display: flex;
  align-items: center;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link-social {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: .5rem .5rem .5rem 0;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link-social span {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link-social.nav-link-social--facebook {
  background: url("../img/social/facebook.svg") center center/cover no-repeat;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link-social.nav-link-social--twitter {
  background: url("../img/social/twitter.svg") center center/cover no-repeat;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link-social.nav-link-social--revue {
  background: url("../img/social/revue.svg") center center/cover no-repeat;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link-social.nav-link-social--instagram {
  background: url("../img/social/instagram.svg") center center/cover no-repeat;
}

@media (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav .navbar-brand {
    color: #a4243b;
    text-shadow: none;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #651624;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    padding: 0.5rem 1rem;
    color: #a4243b;
    text-shadow: none;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #651624;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link-social,
  #mainNav .navbar-nav > li.nav-item > a.nav-link-social:focus {
    margin: 0 0 0 .5rem;
    padding: 0;
  }
}

header.masthead {
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

header.masthead_cow {
  background-image: url("../img/header_cow.jpg");
}

header.masthead_pergola {
  background-image: url("../img/header_pergola.jpg");
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(164, 36, 59, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #a4243b !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #a4243b;
  border-color: #a4243b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #8f1f33 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

main p a,
#main p a {
  border-bottom: 1px solid #a4243b;
}

main p a:hover, main p a:focus,
#main p a:hover,
#main p a:focus {
  text-decoration: none;
  border-bottom: 0;
}

main .bg-dark p a,
#main .bg-dark p a {
  color: #A69300;
  border-bottom: 1px solid #A69300;
}

a.header_more-link {
  display: inline-block;
  color: #212529;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  padding-top: .2rem;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .2s ease-in;
  background: #fff;
  opacity: 1;
}

a.header_more-link:hover, a.header_more-link:focus {
  text-decoration: none;
  transform: scale(1.08);
}

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome/fontawesome.eot?-v92fkb");
  src: url("../fonts/fontawesome/fontawesome.eot?#iefix-v92fkb") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome.woff?-v92fkb") format("woff"), url("../fonts/fontawesome/fontawesome.ttf?-v92fkb") format("truetype"), url("../fonts/fontawesome/fontawesome.svg?-v92fkb#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

.noscroll {
  overflow: hidden;
}

.grid-wrap {
  margin: 0 auto;
  width: 100%;
  -webkit-perspective: 5000px;
  perspective: 5000px;
}

.image-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.view-full .image-grid {
  -webkit-transform: translateZ(-1500px);
  transform: translateZ(-1500px);
}

@media (min-width: 576px) {
  .image-grid figure,
  .image-grid .placeholder,
  .image-grid > div {
    width: calc((100% - 4rem) / 3);
  }
}

.image-grid figure,
.image-grid > div {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform .2s ease-in;
}

.image-grid figure .img,
.image-grid > div .img {
  min-height: 270px;
  background-position: center;
  background-size: cover;
}

.image-grid figure:hover, .image-grid figure:focus,
.image-grid > div:hover,
.image-grid > div:focus {
  transform: scale(1.08);
}

@media (min-width: 576px) {
  .image-grid figure,
  .image-grid > div {
    margin-right: 2rem;
  }
  .image-grid figure:nth-child(3n+3),
  .image-grid > div:nth-child(3n+3) {
    margin-right: 0;
  }
  .image-grid figure:nth-last-child(-n+3),
  .image-grid > div:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.image-grid figure:last-child,
.image-grid > div:last-child {
  margin-bottom: 0;
}

.image-grid figure figcaption,
.image-grid figure .caption,
.image-grid > div figcaption,
.image-grid > div .caption {
  flex: 1;
  padding: 1rem;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #a4243b;
  background-color: #fff;
}

.image-grid figure figcaption span,
.image-grid figure .caption span,
.image-grid > div figcaption span,
.image-grid > div .caption span {
  display: block;
  font-size: .8rem;
}

.image-grid figure.active {
  opacity: 0;
}

.image-grid .placeholder {
  pointer-events: none;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.image-grid .placeholder .front figcaption {
  display: none;
}

.image-grid .placeholder .front:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.placeholder > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.placeholder .front img {
  width: 100%;
  height: 100%;
}

.placeholder .back {
  background: white;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.view-full .placeholder {
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1);
}

.vertical .view-full .placeholder {
  -webkit-transform: translateZ(1500px) rotateX(-179.9deg);
  transform: translateZ(1500px) rotateX(-179.9deg);
  /* FF, Chrome, can we agree on one direction, pleeease? */
}

.horizontal .view-full .placeholder {
  -webkit-transform: translateZ(1500px) rotateY(-179.9deg);
  transform: translateZ(1500px) rotateY(-179.9deg);
}

.image-grid figure img {
  display: block;
  width: 100%;
}

.content,
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */
}

.content {
  overflow-y: scroll;
  height: 0;
  /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
  background: #fff;
  visibility: hidden;
  z-index: 9999;
  -webkit-overflow-scrolling: touch;
}

.loading {
  opacity: 0;
  z-index: 1;
  background: transparent url(../img/preloader.gif) no-repeat center center;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.loading.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.content.show {
  height: auto;
  pointer-events: auto;
  visibility: visible;
}

.content > div {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  background: #fff;
}

.content > div.show {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.close-content {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 10px;
  font-size: 1.6em;
  color: #aaa;
  cursor: pointer;
  pointer-events: none;
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.close-content:hover {
  color: #999;
}

.content > div.show ~ .close-content {
  opacity: 1;
  pointer-events: auto;
}

.close-content:before {
  content: "\e602";
}

/* Dummy content */
.dummy-img,
.dummy-text {
  max-width: 600px;
  width: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.vertical .dummy-img,
.vertical .dummy-text {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.horizontal .dummy-img,
.horizontal .dummy-text {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}

.content > div.show .dummy-img,
.content > div.show .dummy-text {
  opacity: 1;
}

.vertical .content > div.show .dummy-img,
.vertical .content > div.show .dummy-text {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.horizontal .content > div.show .dummy-img,
.horizontal .content > div.show .dummy-text {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

p.dummy-text:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

p.dummy-text:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.dummy-img {
  margin: 30px auto;
}

.dummy-img img {
  width: 100%;
}

.dummy-text {
  text-align: left;
  margin: 0 auto;
  padding: 10px 0;
  color: #000;
  font-size: 1rem;
}

.dummy-text:last-child {
  padding-bottom: 100px;
}

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
  opacity: 1;
  visibility: visible;
  display: none;
  height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .dummy-img,
.no-csstransitions .dummy-text,
.no-csstransforms3d .dummy-img,
.no-csstransforms3d .dummy-text,
.no-pointerevents .dummy-img,
.no-pointerevents .dummy-text {
  display: block !important;
  opacity: 1;
}
