// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 4rem 0;

  @media (min-width: 576px) {
    padding: 8rem 0;
  }
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.overlay {
  width: 100%;
  height: auto;
  padding-top: 120px;

  h1 {
    text-shadow: 1px 1px 5px rgba(0,0,0,.2)
  }

  @media (min-width: 992px){
    padding: 120px 0 180px 0;
  }

  @media (min-width: 576px) {
    padding: 120px 0 90px 0;  }

  &_yellow {
    background: rgba(171, 105, 18, 0.3);
  }

  &_dark {
    background: rgba(122, 135, 163, 0.3);
  }
}

.introduction {

  padding: 3rem 1rem;

  @media (min-width: 992px){
    padding: 4rem;
  }

  color: $gray-900;
  background-color: rgba(255,255,255,.6);

  p {
    margin-bottom: 1rem;
  }
  .btn {
    margin-top: 2rem;
  }
}

#contact {
  img {
    margin: 0 auto;
  }
}
