// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

a.light {
  color: #06b7aa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.title {
  font-family: courier;
  white-space: nowrap;
  overflow: hidden;
  //animation: typed 10s steps(30,end);
  //width: 18em;
}

.blinking_dot{
  animation: blink 1s infinite;
}

@keyframes typed{ 
  from { width: 0; } 
} 

@keyframes typed2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

.text-light-important {
  font-weight: 300;
  font-size: 1.21rem;
  color: rgba(255, 255, 255, 0.8);
}

.team-bio {
  font-size: 0.95rem;
  padding-left: 20px;
  padding-right: 20px;

}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.icon-color {
  color: #0d96c4 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 5rem 0;
}

.top-empty {
  padding: 1.8rem 0;
}

.section-heading {
  margin-top: 0;
}

.team-profile-box {
  padding: 20px 10px;
  background-color: #0d96c4;
  margin: 10px;
  border-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}


