// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

h1 {
  font-size: 3rem !important;
}

p {
  font-size: 1.1em;
  font-weight: 300;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.bg-light {
  background-color: $white !important;
}

.tagline {
  font-family: courier;
  //white-space: nowrap;
  overflow: hidden;
  font-size: 1.7rem;
  font-weight: 300;
  //animation: typed 10s steps(30,end);
  //width: 30ch;
}

.blinking_dot{
  animation: blink 1.5s infinite;
}

@keyframes typed{ 
  from { width: 0; } 
} 

@keyframes typed2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

a.light {
  color: #06b7aa;
}

.icon-color {
  color: #0d96c4 !important;
}

.top-empty {
  padding: 1.8rem 0;
}

section {
  padding: 5rem 0;
}

.section-heading {
  margin-top: 0;
}

.desc-text {
  //font-style: italic;
  font-size: 1.25em;
  font-weight: 300;
}

.text-important {
  font-weight: 300;
  font-size: 1.25rem;
}

.text-faded {
  color: fade-out($white, .2);
}

.team-profile-box {
  padding: 1.2em;
  background-color: #0d96c4;
  border-radius: 5px;
  height:100%;
}

.team-profile-box-new {
  padding: 1.2em;
  //background-color: #0d96c4;
  border-radius: 5px;
  height:100%;
}

.team-profile-img {
  width:60%;
  border-radius:50%;
  margin-bottom: 2rem;
}

.image-box {
  max-width: 100%;
  margin: 0 auto;
}

.card-box {
  display: block;
  height: 225px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}




