// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $white;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($primary, .1);
    }
  }
  .navbar-nav {
    > li.nav-item {
      > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-900;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary !important;
          background-color: transparent;
          border-bottom: 2px solid $primary;
          &:hover {
            background-color: transparent;
          }
        }
      }

      &.nav-item-social {
        display: flex;
        align-items: center
      }

      > a.nav-link-social {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin: .5rem .5rem .5rem 0;

        span {
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        &.nav-link-social--facebook {
          background: url('../img/social/facebook.svg') center center/ cover no-repeat;
        }

        &.nav-link-social--twitter {
          background: url('../img/social/twitter.svg') center center/ cover no-repeat;
        }

        &.nav-link-social--revue {
          background: url('../img/social/revue.svg') center center/ cover no-repeat;
        }

        &.nav-link-social--instagram {
          background: url('../img/social/instagram.svg') center center/ cover no-repeat;
        }
      }
    }
  }
  @media (min-width: 992px) {
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: $white;
      .navbar-brand {
        color: $primary;
        text-shadow: none;
        &:focus,
        &:hover {
          color: darken($primary, 15%);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        padding: 0.5rem 1rem;
        color: $primary;
        text-shadow: none;
        &:hover {
          color: darken($primary, 15%);
        }
      }

      .navbar-nav > li.nav-item > a.nav-link-social,
      .navbar-nav > li.nav-item > a.nav-link-social:focus {
        margin: 0 0 0 .5rem;
        padding: 0;
      }
    }

}
